html {
    position: relative;
    min-height: 100%;
}

body {
    background-image: url(assets/images/bg.jpg);
}

h1 {
    color: teal;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: bold;
}

#josh {
    background-color: teal;
    color: white;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: bold;
}

#boldNav {
    font-weight: bold;
}

#profilePic {
    max-width: 200px;
    max-height: 200px;
    margin-right: 20px;
}

#main {
    background-color: white;
    max-width: 800px;
    margin: 50px 10px 100px 10px;
    margin-left: 10px;
    padding: 10px;
}

#contact {
    padding: 30px;
    max-width: 75%;
}

@media only screen and (max-width: 768px) {
    #main {
        max-width: 400px;
    }
    #contact {
        max-width: 100%;
    }
}

@media only screen and (max-width: 515px) {
    #main {
        max-width: 380px;
    }
    #contact {
        max-width: 100%;
    }
}

#portfolio img {
    height: 350px;
    width: 350px;
    margin: 10px 0px 10px 0px;
    padding: 0px;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    /* Set the fixed height of the footer here */
    height: 60px;
    margin: auto;
    background-color: gray;
    color: lightgray;
    text-align: center;
    line-height: 55px;
    border-top: 5px solid teal;
}